---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate, getUniqueTagsWithCount } from "@/utils";

const MAX_POSTS = 999;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allTags = getUniqueTagsWithCount(allPosts);

import { Image } from "astro:assets";
import ongeditFace from "/public/ongedit-face.png";
---
<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Yo!</h1>
		<div class="space-y-6">
			<Image
				src={ongeditFace}
				width={250}
				format={"png"}
				alt="thuan pham aka Ông Edit face"
				loading="eager"
			/>
			<SocialList />
<p>"Ông Edit" means this guy edits in Vietnamese also you can type "Ong edit"</p>
<p>My name is Thuan btw</p>
<p>I sit in front of my computer daily, edit, and watch stuff. Sometimes I go out to smell humans or touch grass</p>
<p>I have a background in Front-end Dev aka I know how to build a website, but I think most of the time this skill helps me build stuff I want</p>
<p>In Sep, 2023 I thought again well i am kinda boring, i don't level up the programming skill i know how to do that, but i didn't. So again 4 years ago i in high school i had the option to do programming or design. I take programming maybe this time like want to be the Mr. Robot :D, but through many years I didn't see myself improve much in programming</p>
<p>So i took a switch to video editing, again i didn't do anything related to video editing in my uni life so yeah keep going hopefully i can enjoy, level up, and live the life i want</p>
<p><b>Freedom</b></p>
<p>Contact <a href="mailto:ongeditvideo@gmail.com" class="cactus-link inline-block" >ongeditvideo@gmail.com</a>  for prices and to get your edit 😊</p>
      </div>
	</section>

	<section aria-label="Blog post list" class="mt-16">
				<h2 class="title mb-4 text-xl">Timeline for context</h3>
		<ul class="list-inside list-disc">
				<li>
					Dead: <a href="/posts/last-will" class="cactus-link inline-block"
						>Last will | Di chúc</a
					>
				</li>
				<li>2023+: Finding the video editor position</li>
				<li>2019-2023: Studing in Saigon Technology University</li>
				<li>
					2007-2019: Spent 12 years study in Nguyễn Văn Trân Primary School, Đa Phước Middle School
					and Đa Phước High School
				</li>
				<li>2001: Born in Ho Chi Minh city, Vietnam</li>
			</ul>
      </section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Links</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://ongedit.github.io/pay"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Pay
				</a>
			</li>
			<li>
				<a
					href="https://ongedit.github.io/resume"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Resume
				</a>
			</li>
			<li>
 				<a
					href="https://ongedit.github.io/photos"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Photos
				</a>
			</li>
			<li>
				<a
					href="https://ongedit.github.io/music"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Music i like
				</a>
			</li>
			<li>
				<a
					href="https://m.me/ongedit"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Chat with me
				</a>
			</li>
			<li>
				<a
					href="https://ongedit.github.io/meet"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Meeting
				</a>
			</li>
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Tags</h2>
	<ul class="space-y-4">
		{
			allTags.map(([tag, val]) => (
				<li class="flex items-center gap-x-2">
					<a
						class="cactus-link inline-block"
						href={`/tags/${tag}/`}
						title={`View posts with the tag: ${tag}`}
						rel="prefetch"
					>
						&#35;{tag}
					</a>
					<span class="inline-block">
						- {val} Post{val > 1 && "s"}
					</span>
				</li>
			))
		}
	</ul>
  </section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
  </section>
  </PageLayout>
